// 中文＋韓文字體
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&family=Noto+Serif+TC:wght@200..900&display=swap");

$bigTitle: 128px;
$midTitle: 96px;
$smallTitle: 48px;
$fontSize: 16px;
$lineHeight: 150%;
$fontFamily: "Noto Serif TC", "Noto Serif KR"; // 字串

h1 {
    font-size: $fontSize * 3.75; //60px
    font-family: $fontFamily;
    font-weight: bold;
    line-height: 1.1;
}

h2 {
    font-size: $fontSize * 2.25; // 36px
    font-family: $fontFamily;
    font-weight: bold;
    line-height: 1.2;
}

h3 {
    font-size: $fontSize * 1.75; // 28px
    font-family: $fontFamily;
}

h4 {
    font-size: $fontSize * 1.25; // 20px
    font-family: $fontFamily;
    line-height: $lineHeight;
}

h5 {
    font-size: $fontSize; // 16px
    font-family: $fontFamily;
    line-height: $lineHeight;
}

h6 {
    font-size: $fontSize * 0.875; // 14px
    font-family: $fontFamily;
    line-height: $lineHeight;
}

p {
    font-size: 12px;
    font-family: $fontFamily;
    line-height: $lineHeight;
}

@mixin breakpoint($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}

:root {
    $fontSize: 16px;
    //windows
    @include breakpoint(1280px) {
        $fontSize: 16px;
    }
    @include breakpoint(1024px) {
        $fontSize: 14px;
    }

    //tablet
    @include breakpoint(820px) {
        $fontSize: 14px;
    }

    //mobile
    @include breakpoint(430px) {
        $fontSize: 12px;
    }

    @include breakpoint(375px) {
        $fontSize: 12px;
    }
}
