$OffWhite: #F6F1ED;

$Gold: #C3A988;

$Red: #CB4847;

$Nude: #DBCEC6;

$WarmNude: #FFF4EB;

$LightBrown: #C8AC96;

$DarkBrown: #7A625B;

$Green: #3C5A42;

$Blue: #073763;

$Black: #333333;

$DarkGray: #666666;

$Gray: #999999;

$LightGray: #FBFBFB;

$White: #FFFFFF;



// Gradient 漸層
$GoldGrad: linear-gradient(270deg, #CBAA80 0%, #EADB79 61%, #C6AE74 100%);

$LightGoldGrad: linear-gradient(148deg, #FAF7F2 0%, #F3EADB 26%, #E2C8A0 79%, #DCBB88 100%);

$DarkGoldGrad: linear-gradient(31deg, #FCFDEF 0%, #FBFBEC 12%, #F8F6E3 20%, #F2ECD5 26%, #EBDFC0 32%, #E2CFA5 37%, #D6BA85 42%, #D2B277 44%, #BB995D 57%, #A98649 72%, #9E7A3D 86%, #9B7739 100%);

$RevGoldGrad: linear-gradient(270deg, #EADBC9 0%, #CBAA80 61%, #EADBC9 100%);

$GreenGrad: linear-gradient(270deg, #3C5A42 21%, rgba(60, 90, 66, 0) 82%);