<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tid101_g1
    RewriteRule ^tid101_g1/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /tid101/g1/index.html [L]
</IfModule>